/* '-' sur les axes */
.axis line{
stroke: white;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axes */
.axis path {
stroke: white;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* texte */
.axis text {
fill: white;
font-family: Georgia;
font-size: 150%;
}

text {
fill: white;
font-family: Georgia;
font-size: 100%;
}

text.legend {
fill: white;
font-family: Georgia;
font-size: 80%;
}

/*path {
fill: none;
stroke: #ed3700;
}*/

.line-0 {
fill: none;
stroke: lightgreen;
}

.line-1 {
fill: none;
stroke: lightblue;
}

.line-2 {
fill: none;
stroke: yellow;
}

#legend {
	position: absolute;
	left: 1030px;
}

.serie_label {
fill: white;
font-family: Georgia;
font-size: 80%;
width: 150px;
height: 150px;
}