@font-face
{
	font-family: "CMU Serif";
	src : url("../../fonts/cmunrm.ttf");
}

@font-face
{
	font-family: "Earth Orbiter Punch";
	src : url("../../fonts/EarthOrbiterPunch-gzL3.otf");
}

body {
	background-color: #1A1C2A;
}


.frame {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}



#generals_menu {
	position:absolute;
	top: 32px;
	left: 240px;
	font-family: "CMU Serif";
	color: white;
}


#celestial_bodies_menu {
	position:absolute;
	top: 32px;
	left: 395px;
	font-size: 95%;
	font-family: "CMU Serif";
	color: white;
}



#satellites_menu {
	position:absolute;
	top: 32px;
	left: 592px;
	font-family: "CMU Serif";
	color: white;
}



#exploitation_menu {
	position:absolute;
	top: 32px;
	left: 755px;
	font-family: "CMU Serif";
	color: white;
}

.bar {
	position: absolute;
	top: 52px;
	left: 0px;
	opacity: 0.7;
}

.text.large {
	font-family: "CMU Serif";
	color: white;

	font-size: 1.5em;
}

.text.medium {
	font-family: "CMU Serif";
	color: white;

	font-size: 1.2em;
}

.text.small {
	font-family: "CMU Serif";
	color: white;

	font-size: 0.9em;
}


.info_box {
	position: absolute;

	top: 510px;
	left: 30px;

	width: 80%;
	height: 50px;
	border : 1px #FFFFFF solid;
	border-radius: 10px;


}

.session_title {
	font-family: "CMU Serif";
	color: white;

	text-decoration: underline;


	font-size: 1.3em;
}

.text_input {
	font-size: 1.0em;
	text-align: center;
	font-family: "CMU Serif";
	background: rgba(0,0,0,0.0);
	border-radius: 5px;
	color: #FFFFFF;
	border: 1px #FFFFFF solid;
	width: 180px;
	height: 27px;
}

.text_input_mini {
	font-size: 0.8em;
	text-align: center;
	font-family: "CMU Serif";
	background: rgba(0,0,0,0.0);
	border-radius: 5px;
	color: #FFFFFF;
	border: 1px #FFFFFF solid;
	width: 160px;
	height: 22px;
}


.prm_window {
	position: relative;
	top: -20px;
	transition: all 1s ease;
}

.section_title {
	font-size: 1.3em; 
	margin-top: 30px; 
	margin-left: 80px;


	color: white;
	font-family: "CMU Serif";

	text-decoration: underline;
}

.planet_choice {
	font-size: 1.3em;
}



#satellite_frame {
	position: relative;
	top: -50px;
	display: flex; 
	flex-wrap: wrap;
	width: 750px; 
	height: 270px; 
	border: 1px white solid; 
	border-radius: 5px 5px 5px 0px;

	margin-left: 50px;
}

.maneuvers_panel {
	margin-left: 10px;
	/*border-radius: 5px;*/
	font-size: 0.9em;
	font-family: "CMU Serif";
	background: rgba(0,0,0,0);
	color: #FFFFFF;
	border: none;

	text-align: center;
}

#maneuvers_frame {
	position:relative; 
	border: 1px white solid; 
	width:715px;
	top: -19px; 
	margin-left: -1px; 
	border-radius: 0px 0px 5px 5px;

	transition: all 0s ease;
}

#maneuvers_frame.invite {
	height: 70px;
}

#maneuvers_frame.creation {
	z-index: 10;
	background-color: #1A1C2A;
	height: 190px;
}

.main_panels {
	width: 280px;
	height: 370px;
	border: 1px white solid;
	border-radius: 10px;
} 

.panel_title {
	font-family: "CMU Serif";
	color: white;
	font-size: 1.5em;

	border-bottom: 1px white solid;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.ground_track_sat {
	font-size: 1.4em;
	text-align: center;
	margin-top : 10px;
	margin-bottom: 10px;
}

#add_prm_to_graphs {

	display: flex;

	position: absolute;
	left: 340px;
	top: 20px;

	width: 500px;
	height: 300px;

	background-color: #1A1C2A;
	border: 2px white solid;
	border-radius: 5px;
}

#parameter {
	margin-right: 10px;
	/*border-right: 1px white solid;*/
	border-radius: 1px;
}

#adding_prm_panel {
	margin-left: 5px;
	margin-top: 30%;

	width: 230px;

	font-size: 1.2em;
	font-family: "CMU Serif";
	background: rgba(0,0,0,0);
	color: #FFFFFF;
	border: none;
	border: 1px white solid;

	text-align: center;
}