/* '-' sur les axes */
.axis line{
stroke: white;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axes */
.axis path {
stroke: white;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* texte */
.axis text {
fill: white;
font-family: Georgia;
font-size: 150%;
}

text {
fill: white;
font-family: Georgia;
font-size: 100%;
}

/*path {
fill: none;
stroke: #ed3700;
}*/

path.line-0 {
fill: none;
stroke: lightgreen;
}

path.line-1 {
fill: none;
stroke: lightblue;
}

path.line-2 {
fill: none;
stroke: lightyellow;
}

.serie_label {
fill: white;
font-family: Georgia;
font-size: 80%;
width: 150px;
height: 150px;
}