@font-face
{
	font-family: "CMU Serif";
	src : url("../../fonts/cmunrm.ttf");
}

@font-face
{
	font-family: "Earth Orbiter Punch";
	src : url("../../fonts/EarthOrbiterPunch-gzL3.otf");
}

body {
	background-color: #1A1C2A;
	/*background-color: #FFFFFF;*/
	/*background: linear-gradient(90deg, #90ee90, #c1cefa);*/
}


.currentUTC {
	font-size: 1.3em;
	font-family: "CMU Serif";
	margin: 10px 5px;
	color: #FFFFFF;
}

.txt {
	font-family: "CMU Serif";
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 250px;
	font-size: 1.4em;
	color: #FFFFFF;
}

#prc_title {
	font-family: "CMU Serif";
	position: absolute;
	left: 40%;
	top: 24px;
	font-size: 1.1em;
	color: #FFFFFF;
}


.main_panel {
	/*background-color: lightblue;*/
	border : 1px #97DFEC solid;
	border-radius: 3px;
	width: 1190px;
	height: 650px;
}

.logo {
	position: relative;
	font-size: 6em;
	font-family: "Earth Orbiter Punch";
	color: white;
	width: 300px;
	top: 120px;
	left: 38%;
	/*z-index: 10;*/
}

.orbit {
	position: relative;
	top: 50%;
	left: 72%;
	opacity: 0.2;
}

.prg_launch {
	font-family: "CMU Serif";
	position: absolute;
	color: white;
	border: 1px white solid;
	border-radius: 10px;
	top: 52%;
	left: 31%;
	font-size: 1.3em;
	padding: 10px;

	opacity: 0.6;
	transition: all 0.3s ease;
}

.prg_launch:hover {

	color: #2B2D3B;
	background-color: white;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.circles {
	position: absolute;
	top: 10%;
	left: 22%;
	transform-origin: 50% 50%;
}

#b.normal {
	-webkit-animation: rotating 90s linear infinite;
	}

#g.normal {
	-webkit-animation: rotating 80s linear infinite;
	}

#y.normal {
	-webkit-animation: rotating 75s linear infinite;
	}

#r.normal {
	-webkit-animation: rotating 70s linear infinite;
	}


#b.speed {
	-webkit-animation: rotating 10s linear infinite;
	}

#g.speed {
	-webkit-animation: rotating 8s linear infinite;
	}

#y.speed {
	-webkit-animation: rotating 6s linear infinite;
	}

#r.speed {
	-webkit-animation: rotating 3s linear infinite;
	}



#annex_panel #historic {
	border : 1px #97DFEC solid;
	border-radius: 3px;
	width: 215px;
	height: 650px;

	margin-left: 15px;
}


#selector_zone {
	border-bottom: 1px #97DFEC solid;
	height: 5%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#annex {
	font-size: 1.05em;
	background: rgba(0,0,0,0);
	color: #FFFFFF;
	border: none;

	margin-left: 3px;
	margin-top: 7px;
}


.bottom_panel {
	color: lightyellow;
	border : 1px #97DFEC solid;
	border-radius: 3px;
	width: 1188px;
	height: 40px;

	margin-top: 20px;
}

.version {
	color: #97DFEC;
	font-size: 1.5em;
	margin-left: 90px;
	margin-top: 40px;
}


.historic_cell_text {
	font-family: "CMU Serif";
	color: white;
	font-size: 1.1em;
	margin-top: 40px;

	text-decoration: none;
}

li {
	color: white;
}

#historic_list {
	position: relative;
	left: -10px;
}

.historic_date {
	position: relative;
	font-family: "CMU Serif";
	color: #BBBBBB;
	font-size: 0.8em;
	top: -10px;
	left: 15px;
}